/* GLOBAL RULES */ 
* {
    font-family: 'Roboto Condensed', sans-serif;
    color: #263238;
    
    /* Make text UNSELECTABLE */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

body {
    margin: 0;
}

#container {
    margin:auto;
    background: url('../media/login/background.jpeg');
    background-size: cover;
    height: 100vh;
}

form {
    margin:auto;
    width: 50%;
    align-self: center;
}

#container > div {
    margin:auto;
    width: 50%;
    background-color:white;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    text-align-last: center;
}

form > input, form > button {
    width: inherit;
    padding: 6px 10px;
    margin-bottom: 15px;
}