/* GLOBAL RULES */ 
* {
    font-family: 'Roboto Condensed', sans-serif;
    color: #263238;
    
    /* Make text UNSELECTABLE */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    
    -webkit-padding-start: 0;
    max-width: 100%;

}

button {
    cursor: pointer;
}

#container {
    /* Full Height container TODO REMOVE*/
    height: 100vh;
    margin:0;
}

li:hover {
    background: #eee;
    cursor: pointer;
}

/* --- TRACKS LIST --- */

#tracks_list {
    /* Avoid that player covers the last songs */
    margin-bottom: 100px;
}

/*
.row {
    margin-top: 10px;
}
*/ 
            
#tracks_list ul {
    list-style-type: none;
    padding-left: 10px;
}

.track > div {
    line-height: 19px;
}
            
.track > div > p {
    /* Track's title, artist and album */
    margin:3px 0;
    font-size: 0.9em;
}
            
.track > div:first-child > p:first-of-type {
    /* Track title */
    color: #1B5E20;
    font-size: 1em;
}
            
.track {
    overflow:auto;
    margin-bottom: 15px;
}


li > div > .image {
    /* Track image */
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 30px;
    display: inline-block;
    background-size: cover;
}

li > div > .image:hover {
    background-image: url('../media/add_to_playlist.svg') !important;
}

/* --- PLAYER --- */

#player {
    position: fixed;
    bottom: 0;
    background: white;
    padding: 15px 0;
}

#player > h3 {
    /* Song title */
    margin: 5px;
    font-size: 1.2em;
    color: #1B5E20;
}

#player > audio {
    padding:0;
}

#player_image {
    /* IMAGE */
    float: left;
    width: 75px;
    height: 75px;
    border-radius: 40px;
    display: inline-block;
    background-size: cover;
    
    /* OTHERS */
    margin-right: 10px;
    margin-left: 20px;
}

#player_title{
    display:inline;
}

#play_prev {
    background-image: url(../media/skip_previous.svg);
    background-repeat: no-repeat;
    display: none;
    width: 24px;
    height: 24px;
    border:0;
}

#play_next {
    background-image: url(../media/skip_next.svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    display: none;
    border:0;
}

#music_player{
    display:block;
}

/* --- PLAYLIST --- */

.playlist_name:hover {
    color:#1A237E;
    text-decoration: underline;
}

#playlists > ul > li > img {
    /* PLAYLIST IMAGE */
    float: left;
}

.playlist_btn {
    /* BUTTONS */
    padding: 5px 15px;
    border:none;
    border-radius: 10px;
    background: limegreen;
    color:white;
    margin-right: 10px;
}

#newPlaylistBtn {
    /* CREATE NEW playlist button */
    background-color: limegreen;
    border: none;
    padding: 5px;
    border-radius: 10px;
    color: white;
    margin-left: 20px;
    margin-bottom:10px;
}

.dropdown {
    position: relative;
    display: block;
    overflow:auto;
    margin-bottom: 15px;
    max-height: 50%;
}

.dropdown_content {
    max-height: 500px;
}

.dropdown_content li {
    display: block;
    padding:5px;
}

.dropdown_content li.playlist_song:hover {
    background-color: #ddd;
}

.playlist_song {
    padding: 5px;
    display:block;
}

.playlist_song > span {
    display:block;
}

.playlist_song > span:first-child {
    font-weight: bold;
    margin-bottom: 5px
}

.playlist_song > span:last-child {
    font-size: 0.9em
}

/* --- NAVBAR --- */

#navbar {
    /* Appearance */
    overflow: hidden;
    background: limegreen;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* Positioning */
    position:fixed;
    top:0;
    /* Move navbar on top of the other elements */
    z-index: 1;
}

#tracks_list, #playlists {
    margin-top: 70px;
}

#navbar a {
    display: inline;
    font-size: 1.1em;
    color:white;
    margin-right: 10px;
}

#navbar a.active {
    font-weight: bold;
    font-size:1.2em;
}

#navbar a:hover {
    cursor: pointer;
}

#search_input {
    /* Positioning */
    margin: 10px;
    /* Appearance */
    padding: 8px;
    border-radius: 20px;
    border: 0;
}

a#navbar_playlists {
    display:none;
}

#navbar #menu_hide_show {
    display:none;
}

#logoutBtn {
    float: right;
    margin-top: 15px;
    text-decoration: underline;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    display: block;
}

.modal-content > ul {
    display:inline-block;
    list-style-type: none;
    margin-left: 10px;
    font-size: 1.1em;
}

.modal-content > ul > li {
    padding: 5px;
    margin-bottom: 5px;
}

#addToPlaylistModal > .modal-content > ul > li:first-child {
    /* Add to My Songs <li> */
    background-color: limegreen;
    border-radius: 15px;
    text-align: center;
    color: white;
}

#editPlaylist input {
    margin-right:10px;
}

#editPlaylist li {
    margin-bottom:0;
    padding:0;
}

#editPlaylist button, 
#createPlaylist button,
#friendsModal button {
    /* DONE BUTTON */
    display: block;
    margin: 0 auto;
    border: 0;
    padding: 10px 40px;
    border-radius: 15px;
    background: limegreen;
    color: white;
}

#friendsModal button {
    display: inline;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

ul#friendsList {
    /* FRIENDS LIST */
    display:block;
}

#friendsModal input {
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #008c00;
    color: white;
    margin-bottom: 20px;
    margin-left: 10px;
}

#friendsModal input::placeholder {
    color:white;
}

/* Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#createPlaylist > .modal-content > input {
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #008c00;
    color: white;
    margin-bottom: 20px;
    margin-left: 10px;
}

#createPlaylist input::placeholder {
    color: white;
}


/* Mobile Portrait View */

@media only screen and (max-width: 768px) {
    /* Hide playlists */
    
    #playlists {
        display:none;
    }
    
    /* HIDDEN player image */
    
    #player_image {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        display:none;
    }

    #navbar {
        overflow: auto;
        padding-top: 10px;
    }

    #navbar a, #navbar input{
        display:block;
        margin:auto;
        width: 50%;
        text-align: center;
        margin-bottom: 10px;
    }

    #tracks_list {
        margin-top: 100px;
    }

    #navbar_playlists {
        display:inline;
    }

    #navbar #menu_hide_show {
        display:block;
    }

}